@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

html,
body {
  @apply bg-transparent w-full h-full;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
}

/* #__nuxt {
  @apply h-screen w-full;
} */
